doctype html
html
  head
    title Test Project
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  body
    .container
      block content
      br
      hr
      footer
        p Copyrigth &copy; 2018.
      script(src="bower_components/jquery/dist/jquery.min.js")
      script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
      script(src="js/main.js")
      